@*<div class="col-lg-12">
    <div class="card cards">
        <div class="card-body">
            <h5 class="card-title">Visitantes</h5>
            <h6 class="card-subtitle mb-2 text-muted">Registre quem vai te visitar e consulte os mesmos!</h6>
            <p class="card-text">Registre vai vir te visitar e veja quem você já registou!</p>
            <div align="center">
                <a href="@Url.Action("Index", "Visitante")" class="card-link">Meus visitantes</a>
            </div>
        </div>
    </div>
</div>*@