

@using (Html.BeginForm("RegistrarOcorrencia", "Ocorrencia", method: FormMethod.Post))
{
    <div class="text-center">
        <img src="~/Images/check-mark.png" width="100" alt="" />
        <h3>Registrar Ocorrência</h3>
        <h4>Agendar um horário de visita para novos inquilinos</h4>
    </div>

    <br />
}